.principal{
  float: left;
  width: auto;
  height: 500px;
  background: white;
  border: solid 1px #A3A3A3;
}

img{
  margin: 10px;
}

#cenario{
  float:left;
  width: 600px;
  height: 500px;
  background: url("imagens/cenario.png");
  background-position: bottom;
  margin-right: 6px;
}

#crono{
  background: url('imagens/cronometro.png');
  text-align: center;
}

#cronometro{
  color: red;
  font-size: 30px;
}

#baloes_inteiros , #baloes_estourados{
  font-size: 40px;
}
